# Dependencies
node_modules
.venv
venv
ENV/

# Environment variables
.env
.env.local
.env.*.local

# Python cache & databases
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
*.db
*.sqlite
*.sqlite3

# Next.js build output
.next/
out/
build/
dist/

# OS and Editor files
.DS_Store
*.pem
.idea/
.vscode/
